@use 'variaveis';

.members {
    padding: 5.6vw;
    text-align: center;
    background-image: linear-gradient(variaveis.$corDeFundoHero 80%, variaveis.$corDeFundo);

    &__content {

        h2 {
            margin-bottom: 50px;
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style: none;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            &__item {
                display: block;
                transition: ease .5s;

                &:hover {
                    transform: scale(1.1);
                }

                h3 {
                    padding: 30px;

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        padding: 8px;
                        font-size: 1em;
                    }

                    @media (max-width: 768px) {
                        padding: 8px;
                        font-size: 1em;
                    }
                }
                
                img {
                    padding: 16px;
                    max-width: 400px;
                    border: 4px solid variaveis.$corBotaoPrimario;

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        max-width: 300px;
                        padding: 10px;
                    }

                    @media (max-width: 768px) {
                        max-width: 200px;
                        padding: 8px;
                    }
                }

                p {
                    font-size: 22px;
                    padding: 30px;

                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        padding: 8px;
                        font-size: 1em;
                        margin-bottom: 60px;
                    }

                    @media (max-width: 768px) {
                        padding: 8px;
                        font-size: 1em;
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }
}